<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

<appSettings>
</appSettings>
  
<connectionStrings>
  <add name="NewReleases" 
       connectionString="Data Source=LAPTOP-4JMAV3GM\SQLEXPRESS01;Initial Catalog=NewReleases;Trusted_Connection=True" />    
</connectionStrings>

</configuration>